# Frontend
NEXT_PUBLIC_SITE_NAME=XSpaceGo
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Backend
PROJECT_NAME=XSpaceGo Platform API
API_V1_PREFIX=/api/v1
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:3000
